<% contact = @contact || @contact %>
<% context ||= contact %>
<% collection ||= :products %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<%= render 'account/shared/box' do |p| %>
  <% p.content_for :title, t(".contexts.#{context.class.name.underscore}.header") %>
  <% p.content_for :description do %>
    <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless products.any?}") %>
  <% end %>

  <% p.content_for :table do %>
    <% if products.any? %>
      <table class="table">
        <thead>
          <tr>
            <th><%= t('.fields.name.heading') %></th>
            <%# 🚅 super scaffolding will insert new field headers above this line. %>
            <th><%= t('.fields.created_at.heading') %></th>
            <th class="text-right"></th>
          </tr>
        </thead>
        <tbody>
          <% products.each do |product| %>
            <% with_attribute_settings object: product do %>
              <tr data-id="<%= product.id %>">
                <td><%= render 'shared/attributes/text', attribute: :name, url: [:account, product] %></td>
                <%# 🚅 super scaffolding will insert new fields above this line. %>
                <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
                <td class="buttons">
                  <% unless hide_actions %>
                    <% if can? :edit, product %>
                      <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, product], class: 'button-secondary button-smaller' %>
                    <% end %>
                    <% if can? :destroy, product %>
                      <%= button_to t('.buttons.shorthand.destroy'), [:account, product], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(product)) }, class: 'button-secondary button-smaller' %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>

  <% p.content_for :actions do %>
    <% unless hide_actions %>
      <% if context == contact %>
        <% if can? :create, Product.new(contact: contact) %>
          <%= link_to t('.buttons.new'), [:new, :account, contact, :product], class: "#{first_button_primary(:product)} new" %>
        <% end %>
      <% end %>

      <% unless hide_back %>
        <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:product)} back" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
